body {
    font-family: "Roboto", serif;
    height: 100vh;
}

img {
    width: 200px;
    height: auto;   
}

.hero {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    /* setting flex grow so each section takes up available space, 
    though may need to use height to establish set areas for each section */
}

.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

.extras {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}