body {
    font-family: "Roboto", serif;
    height: 100vh;
}

img {
    width: 200px;
    height: auto;   
}

.hero {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    background-color: #31572C;
    /* setting flex grow so each section takes up available space, 
    though may need to use height to establish set areas for each section */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.logo {
    font-size: 18px;
    margin-bottom: auto;
    color: #B89B5E;
}

.extras {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 16px;
}

.links {
    font-size: 18px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    color: #B89B5E;
}

.inform {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #B89B5E;
}

.subtext {
    font-size: 18px;
    color: #F0E8D6;
}

.buttons {
    padding: 4px;
    align-self: center;
}